@font-face
  font-family: 'light'
  src: url('#{$font-path}/kanit-light.ttf')
  src: font-url("#{$font-path}/kanit-light.ttf")

@font-face
  font-family: 'medium'
  src: url('#{$font-path}/kanit-medium.ttf')
  src: font-url("#{$font-path}/kanit-medium.ttf")

@font-face
  font-family: 'regular'
  src: url('#{$font-path}/Kanit-Regular.ttf')
  src: font-url("#{$font-path}/Kanit-Regular.ttf")

@font-face
  font-family: '#{$icon-font-family}'
  src:  url('#{$font-path}/#{$icon-font-family}.eot?98i2aj')
  src:  url('#{$font-path}/#{$icon-font-family}.eot?98i2aj#iefix') format('embedded-opentype'),
  url('#{$font-path}/#{$icon-font-family}.ttf?98i2aj') format('truetype'),
  url('#{$font-path}/#{$icon-font-family}.woff?98i2aj') format('woff'),
  url('#{$font-path}/#{$icon-font-family}.svg?98i2aj##{$icon-font-family}') format('svg')
  font-weight: normal
  font-style: normal
  font-display: block