@font-face
  font-family: "Kanit"
  src: url('#{$font-path}/kanit-bold.eot')
  src: url('#{$font-path}/kanit-bold.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/kanit-bold.woff2') format('woff2'),
  url('#{$font-path}/kanit-bold.woff') format('woff'),
  url('#{$font-path}/kanit-bold.ttf') format('truetype')
  font-weight: 700
  font-style: normal


@font-face
  font-family: "Kanit"
  src: url('#{$font-path}/kanit-light.eot')
  src: url('#{$font-path}/kanit-light.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/kanit-light.woff2') format('woff2'),
  url('#{$font-path}/kanit-light.woff') format('woff'),
  url('#{$font-path}/kanit-light.ttf') format('truetype')
  font-weight: 300
  font-style: normal


@font-face
  font-family: "Kanit"
  src: url('#{$font-path}/kanit-medium.eot')
  src: url('#{$font-path}/kanit-medium.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/kanit-medium.woff2') format('woff2'),
  url('#{$font-path}/kanit-medium.woff') format('woff'),
  url('#{$font-path}/kanit-medium.ttf') format('truetype')
  font-weight: 500
  font-style: normal


@font-face
  font-family: '#{$icon-font-family}'
  src:  url('#{$font-path}/#{$icon-font-family}.eot?98i2aj')
  src:  url('#{$font-path}/#{$icon-font-family}.eot?98i2aj#iefix') format('embedded-opentype'),
  url('#{$font-path}/#{$icon-font-family}.ttf?98i2aj') format('truetype'),
  url('#{$font-path}/#{$icon-font-family}.woff?98i2aj') format('woff'),
  url('#{$font-path}/#{$icon-font-family}.svg?98i2aj##{$icon-font-family}') format('svg')
  font-weight: normal
  font-style: normal
  font-display: block



