$font-path: "./../static/fonts" !default
$font-kanit: 'kanit', Arial, Tahoma, Serif
$weight: (light: 300, medium: 500, bold: 700)

// Color
$very-light-pink: #d6d6d6
$deep-sky-blue: #047afe

@function map-get-strict($map, $key)
  @if map-has-key($map, $key)
    @return map-get($map, $key)
  @else
    @error "ERROR: Specified index does not exist in the mapping"
