<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>สะพานบุญ</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId: '119501292726732',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v5.0'
        });
      };
    </script>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
  </head>
  <body>
    <section id="navigation-section">
      <nav class="navbar navbar-dark bg-primary navbar-expand-lg fixed-top">
          <a class="navbar-brand" href="/">
            <img src="<%= Routes.static_path(@conn, "/images/sapanboon-logo-white.png") %>" alt="sapanboon">
           </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation-collapse-content" aria-controls="navigation-collapse-content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse " id="navigation-collapse-content">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">หน้าแรก</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/abouts"> เกี่ยวกับเรา </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/contact"> ติดต่อเรา </a>
              </li>
            </ul>

          <div class="input-group mb-3 col-3 my-2 my-lg-0" id="search-wrap">
            <div class="input-group-prepend px-0">
              <span class="input-group-text px-1" id="search"><i class="icon-search" ></i></span>
            </div>
            <input id="input-search" type="text" class="form-control" placeholder="search" aria-label="search" aria-describedby="search">
          </div>
          <div class="link-menu">
            <%= if @conn.assigns[:user] do %>
              <div class="user-info">
                <span><%= @conn.assigns.user.name %></span>
                <div class="user-menu">
                  <%= link "รายการของฉัน", to: Routes.history_path(@conn, :index)%>
                  <%= link "Sign out", to: Routes.login_path(@conn, :delete)%>
                </div>
              </div>
            <% else %>
              <a href="/login" class="nav-link">
                เข้าสู่ระบบ
              </a>
            <% end%>
          </div>
        </div>
      </nav>
    </section>
    <main role="main" class="container-fluid">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <footer>
        <div class="d-flex flex-column">
          <div  id="footer-contact-block">
              <div class="col-2">
                 <img id="footer-logo" src="<%= Routes.static_path(@conn, "/images/sapanboon-logo.png") %>" alt="sapanboon">
              </div>
              <div class="col-3">
                <ul class="navbar-nav  nav-footer">
                     <li class="nav-item">
                         <a class="nav-link" href="/">หน้าแรก</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/abouts"> เกี่ยวกับเรา </a>
                       </li>
                     <li class="nav-item">
                        <a class="nav-link " href="/contact"> ติดต่อเรา </a>
                     </li>
                  </ul>
              </div>
              <div class="col-4" id="contact">
                        <span>ที่อยู่: มูลนิธิสะพานบุญ 556 ถนนลาดพร้าว แขวงพลับพลา เขตวังทองหลาง 10310 ประเทศไทย</span>
                        <span>อีเมล: admin@sapanboon.org</span>
                        <span>โทรศัพท์: 081-651-1718</span>

              </div>
               <div class="col-3" id="social-wrap">
                   <span>ติดตามความเคลื่อนไหว</span>
                   <div id="social-icon-wrap">
                        <img class="social-icon" src="<%= Routes.static_path(@conn, "/images/facebook-icon.svg") %>" alt="facebook-sapanboon">
                        <img class="social-icon" src="<%= Routes.static_path(@conn, "/images/ig-icon.svg") %>" alt="ig-sapanboon">
                        <img class="social-icon" src="<%= Routes.static_path(@conn, "/images/twitter-icon.svg") %>" alt="twitter-sapanboon">
                   </div>

               </div>
          </div>
          <div id="footer-copy-right-block">&copy; 2019 Sapanboon, All Rights Reserved. Design with Sapanboon</div>
        </div>
    </footer>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

  </body>
</html>
