<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>สะพานบุญ</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
    <%= if @meta_attrs, do: meta_tags(@meta_attrs) %>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId: '<%= Application.fetch_env!(:ueberauth, Ueberauth.Strategy.Facebook.OAuth, :client_id) %>',
          autoLogAppEvents : true,
          xfbml            : true,
          version          : 'v5.0'
        });
      };
    </script>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
  </head>
  <body>
    <section id="navigation-section">
      <nav class="navbar navbar-dark bg-primary navbar-expand-lg fixed-top p-0">
        <a class="navbar-brand" href="/">
          <img src="<%= Routes.static_path(@conn, "/images/sapanboon-logo-white.png") %>" alt="sapanboon">
          </a>

        <span id="sidebarCollapse" class="btn btn-default d-xl-none d-lg-none d-md-block">
          <span class="fa-bars"></span>
        </span>

        <div class="navbar-collapse d-none d-lg-block" id="navigation-collapse-content">
          <ul class="link-menu navbar-nav mr-auto">
            <li class="nav-item">
              <%= active_link(@conn, "หน้าแรก", to: "/", class: "p-0 nav-link m-0 fs-16 fs-light text-white mx-2 bold") %>
            </li>
            <li class="nav-item">
              <%= active_link(@conn, "เกี่ยวกับเรา", to: "/abouts", class: "p-0 nav-link m-0 fs-16 fs-light text-white mx-2 bold") %>
            </li>
            <li class="nav-item">
              <%= active_link(@conn, "ติดต่อเรา", to: "/contact", class: "p-0 nav-link m-0 fs-16 fs-light text-white mx-2 bold") %>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-link has-search mt-2">
              <span class="icon-search form-control-feedback"></span>
              <input id="search-box" type="text" class="form-control" placeholder="Search">
            </li>
            <li class="nav-item link-menu login-btn">
              <%= if @conn.assigns[:user] do %>
                <div class="user-info px-3 mt-2" id="user-info-id">
                  <span><%= @conn.assigns.user.name %></span>
                  <div class="user-menu">
                    <%= link "รายการของฉัน", to: Routes.history_path(@conn, :index)%>
                    <%= if @conn.assigns.user.role  === "admin" do %>
                      <%= link "หน้าจอ Admin", to: Routes.login_path(@conn, :admin)%>
                    <% end %>
                    <%= link "ออกจากระบบ", to: Routes.login_path(@conn, :delete)%>
                  </div>
                </div>
              <% else %>
                <%= active_link(@conn, "เข้าสู่ระบบ", to: "/login", class: "nav-link", id: "go-login") %>
              <%  end%>
            </li>
          </ul>
        </div>
      </nav>
    </section>

    <!-- Sidebar -->
    <nav id="sidebar">
      <ul class="list-unstyled">
        <li>
          <div class="has-search">
            <span class="icon-search form-control-feedback"></span>
            <input id="search-box-mobile" type="text" class="form-control" placeholder="Search">
          </div>
        </li>
        <li>
          <%= link "หน้าแรก", to: "/", class: "menu fs-16 fs-light text-white", id: "go-project-active-sidebar" %>
        </li>
        <li>
          <%= link "เกี่ยวกับเรา", to: "/abouts", class: "menu fs-16 fs-light text-white", id: "go-about-sidebar" %>
        </li>
        <li>
          <%= link "ติดต่อเรา", to: "/contact", class: "menu fs-16 fs-light text-white", id: "go-contact-sidebar" %>
        </li>
        <%= if @conn.assigns[:user] do %>
          <li>
            <%= link "รายการของฉัน", to: Routes.history_path(@conn, :index), class: "menu fs-16 fs-light text-white" %>
          </li>
          <%= if @conn.assigns.user.role  === "admin" do %>
            <li>
              <%= link "หน้าจอ Admin", to: Routes.login_path(@conn, :admin), class: "menu fs-16 fs-light text-white", id: "go-admin"%>
            </li>
          <% end %>
        <%  end %>
        <li>
            <div class="d-flex login-tmp">
              <div class="col-4 align-self-center text-center">
                <img src="<%= Routes.static_path(@conn, "/images/username-log-in.svg") %>" alt="sapanboon">
              </div>
              <%= if @conn.assigns[:user] do %>
                <div class="col-8 align-self-center">
                  <span class="fs-medium-18 "><%= @conn.assigns.user.name %></span><br>
                  <%= link "ออกจากระบบ", to: Routes.login_path(@conn, :delete), class: "fs-16" %>
                </div>
              <% else %>
                <div class="col align-self-center p-0">
                  <%= link "เข้าสู่ระบบ", to: "/login", class: "m-0 fs-16 fs-light text-white mx-2", id: "go-login-sidebar" %>
                </div>
              <%  end %>
            </div>
        </li>
      </ul>
    </nav>

    <!-- Dark Overlay element -->
    <div class="overlay"></div>
    <!-- Loader -->
    <div class="loader loader-bouncing"></div>

    <main role="main" class="container-fluid p-0">
      <a id="scroll-top"></a>
      <%= render @view_module, @view_template, assigns %>
    </main>
  </body>
  <footer class="p-3">
    <div class="row footer">
      <div class="col-lg-3 mb-3">
        <img  src="<%= Routes.static_path(@conn, "/images/sapanboon-logo.png") %>" alt="sapanboon" width="125px">
      </div>

      <div class="col-lg-3 mb-3">
        <div class="row">
          <div class="col-6 text-left">
            <a class="nav-link text-dark" href="/">หน้าแรก</a>
          </div>

          <div class="col-6 text-left">
            <a class="nav-link text-dark" href="/abouts"> เกี่ยวกับเรา </a>
          </div>
        </div>
        <div class="row mt-2 mb-2">
          <div class="col-12 border-bottom"></div>
        </div>

        <div class="row">
          <div class="col-6 text-left">
            <a class="nav-link text-dark" href="/contact"> ติดต่อเรา </a>
          </div>
        </div>

      </div>

      <div class="col-lg-3 mb-3 text-left">
        <p class="fs-light-footer text-dark">
            ที่อยู่: มูลนิธิสะพานบุญ 556 ถนนลาดพร้าว แขวงพลับพลา เขตวังทองหลาง 10310 <br>
            ประเทศไทย <br>
            อีเมล: admin@sapanboon.org <br>
            โทรศัพท์:081-651-1718
        </p>
      </div>

      <div class="col-lg-3 mb-3 text-left">
        <p class="fs-light-footer text-left">ติดตามความเคลื่อนไหว</p>
          <img class="social-icon" src="<%= Routes.static_path(@conn, "/images/facebook-icon.svg") %>" alt="facebook-sapanboon">
          <img class="social-icon" src="<%= Routes.static_path(@conn, "/images/ig-icon.svg") %>" alt="ig-sapanboon">
          <img class="social-icon" src="<%= Routes.static_path(@conn, "/images/twitter-icon.svg") %>" alt="twitter-sapanboon">
      </div>

      <div class="d-flex justify-content-center col-12">
        <span>© 2019 Sapanboon, All Rights Reserved. Design with Sapanboon</span>
      </div>
    </div>
  </footer>
</html>
<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">