<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>สะพานบุญ</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <section id="navigation-section">
      <nav class="navbar navbar-dark bg-primary navbar-expand-lg fixed-top">
          <a class="navbar-brand" href="#">
            <img src="<%= Routes.static_path(@conn, "/images/sapanboon-logo-white.png") %>" alt="sapanboon">
           </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation-collapse-content" aria-controls="navigation-collapse-content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navigation-collapse-content">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">โครงการแนะนำ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">โครงการทั้งหมด</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link " href="#">
                  ส่งโครงการ
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/abouts" >
                  เกี่ยวกับเรา
                </a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="" class="nav-link">
                          เข้าสู่ระบบ
                    </a>
                </li>
            </ul>
          </div>
      </nav>
    </section>
    <main role="main" class="container-fluid">
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
