<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>


  <title>ไม่พบหน้าที่คุณต้องการ (404)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <style>
    
    .rails-default-error-page {
      background-image: linear-gradient( #078ffe, #ffffff 40%);
      color: #2E2F30;
      font-family: Kanit-Regular;
    }

    body,
    html {
      height: 100%;
    }

    .rails-default-error-page div {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .rails-default-error-page h1 {
      font-size: 36px;
      color: #047afe;
      line-height: 1.5em;
      margin-top: 0px;
    }

    .rails-default-error-page h2 {
      font-size: 30px;
      color: #4a4a4a;
      line-height: 1.5em;
      margin-top: 0px;
    }

    .fs-medium-24-32 {
      font-size: 24px !important;
    }

    .bg-color {
      background-image: linear-gradient(#047afe, #ffffff);
      max-height: 100px;
      margin: 33rem auto auto;
    }

    .mt-10 {
      margin-top: 10rem !important;
    }
  </style>
</head>

<body class="rails-default-error-page pt-5">
  <div class="container pt-5">

    <div class="row">
      <div class="col-md-6">
        <div class="col-md-12">
          <h1>คุณพระ!</h1>
        </div>
        <div class="col-md-12">
          <h2>ไม่พบหน้าที่คุณต้องการ!</h2>
        </div>

        <div class="col-md-12 mt-3">
          <a class="btn btn-primary" href="/">กลับสู่หน้าหลัก</a>
        </div>
      </div>

      <div class="col-md-6">
        <img border="0" src="/images/image_error.svg"/>
      </div>
    </div>

  </div>
</body>

</html>