@import "utilities/_all"
@import "components/_all"
@import "layouts/_all"
@import "../node_modules/bootstrap/dist/css/bootstrap.css"
@import "css-loader"

*
  font-family: $font-kanit
  font-weight: map-get-strict($weight, light)

body
  +pt(73px)

  main
    min-height: 70vh
    +pb(20px)

  .slide-head
    font-size: px-to-rem(60px)
    font-weight: 500

  .card.width-carousel
    @media (max-width:768px)
        width: 100%
    @media (min-width:1024px)
        width: 70%
    @media (min-width:1440px)
        width: 50%
    .slide-detail
      font-size: px-to-rem(36px)
      font-weight: 300
  
.footer
  padding-left: 40px
  padding-right: 40px
  padding-top: 15px
  padding-bottom: 10px
  background-color: #f3f0e8
  font-style: italic
  text-align: center

.icon-m
  margin-bottom: 5px
  margin-right: 5px

.fa-bars
  font-family: 'FontAwesome'
  content: '\f0c9'
  font-size: 30px
  color: #fff
  font-style: normal