@import "utilities/_all"
@import "components/_all"
@import "layouts/_all"
@import "../node_modules/bootstrap/dist/css/bootstrap.css"

*
  font-family: $font-kanit
  font-weight: map-get-strict($weight, light)

body
  +pt(80px)

  main
    min-height: 70vh
    +pb(20px)