#navigation-section
  nav
    +height(60px)
    +font-size()
    a
      color: white
    .navbar-brand
      img
        +height(57px)
    .navbar-collapse
      +pl(88px)
    .link-menu
      .user-info
        color: #fff
        position: relative
        display: inline-block
        top: 12px
        padding-bottom: 30px
        &:hover
          .user-menu
            display: block
        .user-menu
          display: none
          position: absolute
          background-color:  #fff
          min-width: 160px
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
          z-index: 1
          right: 0px
          top: 43px
          a
            color: #9eadb5
            padding: 12px 16px
            text-decoration: none
            display: block
            &:hover
              color: #000000
          &:before
            bottom: 100%
            left: 50%
            border: solid transparent
            content: ' '
            height: 0
            width: 0
            position: absolute
            pointer-events: none
            border-color: rgba(194, 225, 245, 0)
            border-bottom-color: #fff
            border-width: 10px
            margin-left: 25px


.link-menu a
  text-decoration: none
  position: relative

.link-menu a::after
  content: ''
  position: absolute
  border-bottom: 0.125rem solid #fefefe
  left: 50%
  right: 50%
  transition: all 0.5s ease
  bottom: 0

.link-menu a.active::after
  left: 0
  width: 100%

.link-menu a:hover::after,
.link-menu a:focus::after
  left: 0
  right: 0
  transition: all 0.5s ease


.has-search .form-control
  padding-left: 2.375rem
  width: 200px

.has-search .form-control-feedback
  position: absolute
  z-index: 2
  display: block
  width: 2.375rem
  height: 2.375rem
  line-height: 2.375rem
  text-align: center
  pointer-events: none
  color: #aaa