<h1>Listing Project detail</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Project</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for project_detail <- @project_detail do %>
    <tr>
      <td><%= project_detail.name %></td>
      <td><%= project_detail.project_id %></td>


    </tr>
<% end %>
  </tbody>
</table>

